/* Mobile Menu background enter and exit transitions */
.menu-background-enter {
  opacity: 0;
}

.menu-background-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.menu-background-exit {
  opacity: 1;
}

.menu-background-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
